@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1e402f;
}

#principal{ /* não precisa colocar o id, apenas o #*/
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2{
    color: #3c805e;
}

.basico{
    color: #3c805e;

}

.intermediario{
    color: #79803c;

}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: rgba(219, 219, 113, 0.473);
}

/*
    - posso colocar mais de uma classe no mesmo elemento
    - posso colocar id e classe no mesmo elemento (id sobrepoem a classe)
    - o id também sobrepoe a config genérica.
*/