@charset "UTF-8";

/* ESTILO PARA TELAS */

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: grey;
}

header h1{
    text-align: center;
}

menu ul{
    background-color: rgb(121, 119, 119);
    list-style-type: none;
}

menu li{
    background-color: rgb(41, 40, 40);
    display: inline-block;
    color: white;
    padding: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}
