@charset "UTF -8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 ;
}

html, body{
    background-color: rgb(231, 231, 231);
}

header{
    background-color: rgb(153, 151, 151);

}

header h1 {
    padding: 10px;
    text-align: center;
}

i#burguer{
    background-color: rgb(46, 45, 45);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(92, 91, 91);
    color: white;
    border-top: 1px solid grey;
    
}

menu ul li a:hover{
    background-color: grey;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

main article h2{
    padding-bottom: 10px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}