@charset "UTF-8";

:root {
    /* Definindo as cores do tema do Rafael Driver */
    --cor-primaria: #d4af37;       /* Dourado */
    --cor-secundaria: #000c1a;     /* Azul Profundo */
    --preto-fundo: #0f0f0f;        /* Fundo principal */
    --cinza-texto: #cccccc;        /* Texto padrão */
    --dourado-claro: #fcf6ba;      /* Para o brilho do degradê */
}

/* Configurações Gerais */
        * {
            margin: 0;
            padding: 0;
            box-box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            list-style: none;
            text-decoration: none;
        }

        body{
            background-color: #1a1a1a;
            color: var(--cinza-texto);
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #1a1a1a;
            border-bottom: 2px solid var(--cor-primaria);
            padding: 20px 5%;
            top: 0;
            position: sticky;
            z-index: 10000;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bolder;
            text-transform: uppercase;
            background-image: linear-gradient(to right, #d4af37, #f1c40f, #b8860b);
             -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }

        nav ul{
            display: flex;
        }

        nav ul li {
            margin-left: 35px;
        }

        nav ul li a{
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            transition: .3s;
        }

        nav ul li a:hover{
            color: var(--cor-primaria);
            font-size: 1.1rem;
        }

        /* Hero section */

        .hero{
            height: 100vh;
            display: flex;
            align-items: center;
            padding: 0 5%;
            background: linear-gradient(to right, #001a33 5%, rgba(0, 26, 51, 0.4) 60%, transparent 90%),
                url(imagens/unnamed.jpg) no-repeat center right;
            background-size: cover;
        }

        .hero-content{
            max-width: 500px;
        }
/* 
        .hero-content img{

            background-size: cover;
        } */

        .hero-content h1 {
            color: #fff;
            font-size: 3rem;
            margin-bottom: 10px;
        }

        .hero-content p {
            color: #aaaaaa;
            font-size: 1.2rem;
            margin-bottom: 25px;
        }

        .btn-cta {
            background-color: var(--cor-primaria);
            padding: 12px 30px;
            color: #000;
            font-weight: bold;
            border-radius: 4px;
            transition: .3s;
            display: inline-block;
        }

        .btn-cta:hover{
            background-color: #f1c40f;
            transform: scale(1.05);
        }

        .servicos{
            padding: 80px 5%;
            text-align: center;
            
        }

        .servicos h2 {
            color: var( --cor-primaria);
            margin-bottom: 40px;
            font-size: 2rem;
        }

        .grid-servicos{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .card{
            background-color: #262626;
            padding: 30px;
            color:var(--cinza-texto);
            border: 1px solid #404040;
            border-radius: 10px;
            transition: .3s;
            
        }

        .card:hover{
            border: 1px solid var(--cor-primaria);
        }

        .card h3 {
            color: #fff;
            margin-bottom: 15px;
        }

        .btn-cta1 {
            display: inline-block;
            color: var(--preto-fundo);
            font-weight: 500;
            background-color: var(--cor-primaria);
            padding: 2px 26px;
            margin-top: 20px;
            border-radius: 5px;
            transition: .3s;
        }

        .btn-cta1:hover {
            background-color: var(--dourado-claro);
            color: var(--cor-primaria);
            transform: scale(1.05);
        }

        footer{
            text-align: center;
            border-top: 2px solid var(--cor-primaria);
            padding: 15px;
            color: var(--cinza-texto);
        }


        @media (max-width: 768px){
             .hero { background-position: center; text-align: center; justify-content: center; }
            .hero-content h1 { font-size: 2rem; }
        }