@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    
}

.caixa1 {
    background-color: blue;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    grid-area: 1 / 1 / 2 / -1;
}

.caixa2 {
    background-color: red;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    grid-area: 2 / 1 / 3 / -1
}

.caixa3 {
    background-color: green;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    grid-area: 3 / 1 / -2 / -2
}

.caixa4 {
    background-color: yellow;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    grid-area: 3 / -2 / -2 / -1
}

.caixa5 {
    background-color: blueviolet;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    grid-area: -2 / 1 / -1 / -1
}