@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #34BF8C, rgb(36, 132, 191));
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(15, 56, 82, 0.432);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F27F1B;
    text-align: center;
    text-shadow: 1px 1px 10px #64360d93 ;
;
}

h2{
    color: #2A438C;
}

p{
   text-align: justify;
}